<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home Classics">
    <meta name="author" content="Exera">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <title>Home Classics | Not Found</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body oncontextmenu="return false">
    <div id="particles-js"></div>
    <div class="login-wrapper">
        <h1>Not Found</h1>
    </div>
    <footer class="footer">
        <span>Home Classics &copy; <script>document.write(new Date().getFullYear());</script> - Solution Designed by
             <a href="https://exera.mu?utm_source=kler_vision" target="_blank"> Exera</a>
        </span>
    </footer>
</body>
<script src="{% static 'js/particles.js' %}"></script>
<script>
    particlesJS.load('particles-js', "{% static 'js/particlesjs-config.json' %}", function () {
        console.log('callback - particles.js config loaded');
    });
</script>

</html>